{% extends "welcome.html.twig" %}

{% block page %}
    <div id="page-wrapper">
        <header>
            <nav id="main-menu">
                
                <div class="nav-left">
                    {% if app.user %}
                        <a class="nav-link {{ match('formation', app.request.uri) ? "active" : ""  }}" href="{{ path('formation_add') }}">
                            Formations
                        </a>
                        <a class="nav-link {{ match('session', app.request.uri) ? "active" : ""  }}" href="{{ path('session_add') }}">
                            Sessions
                        </a>
                    {% endif %}
                    
                </div>
                <div class="nav-logo">
                    <a href="{{ path('dashboard') }}">
                        <img src="{{ asset('images/logo.png') }}" alt="Logo du centre de formation">
                    </a>
                </div>
                <div class="nav-right">
                    {% if app.user %}
                        <a class="nav-link logout-link" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </div>
            </nav>
            <nav id="sub-menu">
                {% block submenu %}{% endblock %}
            </nav>
        </header>
        <main id="body-wrapper">
            {% block body %}{% endblock %}
        </main>
        <footer>
            
        </footer>
    </div>
{% endblock %}

